<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
    <body>
        <h1>CRUD de Estudiantes</h1>
        <h3>Listado de Estudiantes</h3>

        <table>
            <thead>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
            </thead>
            <tbody>
                <tr th:each=" empleado : ${empleados}">
                    <td th:text="${empleado.nombre}"></td>
                    <td th:text="${empleado.primerApellido}"></td>
                    <td th:text="${empleado.segundoApellido}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>