<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
    <body>

        <h1>CRUD de Estudiantes</h1>
        <h3>Listado de Estudiantes</h3>

        <div>
            <a th:href="@{/frmAltaModificacion}">Formulario de Alta</a>
        </div>
        <a th:href="@{/all-diurno/1}">Diurno</a>

        <table>
            <thead>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Género</th>
                <th>Fecha de Alta</th>
            </thead>
            <tbody>
                <tr th:each=" estudiante : ${estudiantes}">
                    <td th:text="${estudiante.nombre}"></td>
                    <td th:text="${estudiante.primerApellido}"></td>
                    <td th:text="${estudiante.segundoApellido}"></td>
                    <td th:text="${estudiante.genero}"></td>
                    <td th:text="${estudiante.fechaAlta}"></td>
                    <td>
                        <a th:href="@{/detalles/}+${estudiante.id}">Detalles</a>
                        <a th:href="@{/actualizar/}+${estudiante.id}">Actualizar</a>
                        <a th:href="@{/eliminar/}+${estudiante.id}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>